{% set faq = [
	{"type": "buyer", "title": "Вопросы покупателей", "list": [
		{"question": "Что если продавец откажется от продажи?",
		 "answer": "Если продавец откажется от продажи, мы вернем вам деньги в полном объеме (и товар, и за доставку)."},
		{"question": "А вдруг продавец меня обманет?", 
		 "answer": "Продавец не сможет Вас обмануть, т.к. мы переведем ему деньги за товар, только если Вы примите товар у курьера."},
		{"question": "А если мне не понравится товар, когда его доставят?",
		 "answer": "Если Вы, по каким-либо причинам, отказались принимать товар у курьера, мы вернем вам стоимость товара, а стоимость доставки не возвращается."}
	]},
	{"type": "seller", "title": "и&nbsp;продавцов", "list": [
		{"question": "Когда я получу деньги за товар?",
		 "answer": "Деньги поступят на вашу карту в течение суток, после того как покупатель заберет товар у курьера."},
		{"question": "А вдруг покупатель меня обманет и не переведет деньги?",
		 "answer": "Покупатель не сможет Вас обмануть, т.к. деньги списываются с его счета,  еще до того, как Вы передадите товар курьеру"},
		{"question": "Что если курьер не сможет доставить товар или покупатель откажется?",
		 "answer": "Если курьер не сможет доставить товар до адресата или покупатель по каким-либо причинам откажется принимать товар, то мы бесплатно доставим товар вам обратно."}
	]}
]%}

<div class="faq mobile-hide">
	{% for cell in faq %}
		<div class="faq__cell">
			<div class="faq__title h1 faq__title_{{ cell.type }}">{{ cell.title }}</div>
			<ul class="faq__list">
				{% for item in cell.list %}
					<li class="faq__item">
						<div class="faq__question">{{ item.question }}</div>
						<div class="faq__answer">{{ item.answer }}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
<div class="faq desktop-hide">
	<div class="faq__title h1">{{ faq[0].title }} {{ faq[1].title }}</div>
	{% for row in faq[0].list %}
		<ul class="faq__list">
			{% set index = loop.index0 %}
			{% for cell in faq %}
				<li class="faq__item faq__item_{{ cell.type }}">
					<div class="faq__question">{{ cell.list[index].question }}</div>
					<div class="faq__answer">{{ cell.list[index].answer }}</div>
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>