{% set work = [
	{"type": "buyer", "image": "./images/work1.png", "title": "Рассчитайте стоимость  доставки товара", "text": "<ul><li>Скопируйте и вставьте ссылку на страницу товара на Авито</li><li>Укажите параметры для расчета стоимости доставки</li><li>Узнайте стоимость доставки и полную стоимость покупки товара</li></ul>"},
	{"type": "buyer", "clear": "left", "image": "./images/work2.png", "title": "Договоритесь с продавцом", "text": "<ul><li>Позвоните продавцу и убедитесь, что товар ещё не продан</li><li>Договоритесь, что будете покупать товар с доставкой и оплатой на карту при помощи сервиса dostavito.ru</li><li>Предупредите, что продавцу придёт SMS для подтверждения сделки</li></ul>"},
	{"type": "seller", "image": "./images/work2.png", "title": "Договоритесь с покупателем", "text": "<ul><li>Вам позвонит покупатель, чтобы обсудить продажу товара с доставкой при помощи сервиса dostavito.ru</li><li>После того, как покупатель переведёт оплату в сервис dostavito.ru, вам придет SMS со ссылкой для подтверждения сделки</li></ul>"},
	{"type": "buyer", "clear": "all", "image": "./images/work3.png", "title": "Оплатите товар и доставку", "text": "<ul><li>Оформите доставку и оплатите всю сумму удобным способом</li><li>После оплаты на телефон продавца придет SMS для подтверждения сделки</li><li>После подтверждения продавцом на ваш e-mail придет уведомление, и курьер доставит вам товар</li></ul>"},
	{"type": "seller", "clear": "left", "image": "./images/work4.png", "title": "Подтвердите продажу товара с доставкой", "text": "<ul><li>Перейдите по ссылке из SMS, проверьте параметры товара и подтвердите ваше согласие на продажу товара</li><li>Укажите ваш адрес и номер банковской карты для получения оплаты стоимости товара после его доставки</li><li>Ожидайте курьера, который заберет товар</li></ul>"},
	{"type": "seller", "clear": "right", "image": "./images/work5.png", "title": "Передайте товар курьеру", "text": "<ul><li>Вам придет SMS от службы доставки с датой приезда курьера</li><li>Упакуйте товар, чтобы передать курьеру</li></ul>"},
	{"type": "buyer", "clear": "right", "image": "./images/work6.png", "title": "Получите товар", "text": "<p>Вам придет SMS от службы доставки с датой приезда курьера<br><br><br></p>"},
	{"type": "seller", "clear": "left", "image": "./images/work7.png", "title": "Получите оплату", "text": "<p>После доставки товара покупателю, стоимость товара поступит на вашу карту</p>"}
]%}

{% set buyer = 0 %}
{% set seller = 0 %}

<div class="work">
	{% for item in work %}
		{% if item.type == "buyer" %}
			{% set buyer = buyer + 1 %}
			{% set temp = buyer %}
		{% endif %}
		{% if item.type == "seller" %}
			{% set seller = seller + 1 %}
			{% set temp = seller %}
		{% endif %}
		<div class="work__cart work__cart_type_{{ item.type }} {% if item.clear %}work__cart_clear_{{ item.clear }}{% endif %}">
			<div class="work__inner">
				{% if item.type == "buyer" and temp == 1 %}
					<div class="work__title">Покупатель</div>
				{% endif %}
				{% if item.type == "seller" and temp == 1 %}
					<div class="work__title">Продавец</div>
				{% endif %}
				<div class="work__index">{{ temp }}</div>
				<div class="work__image">
					<img src="{{ item.image }}" class="work__img" />
				</div>
				<div class="work__body">
					<div class="work__body-title h2">{{ item.title }}</div>
					<div class="work__body-text">{{ item.text | safe }}</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>