{% extends "base.html" %}

{% set title = "Расчет стоимости доставки" %}

{% set breadcrumbs = [
	{"link": "/", "title": "Главная"},
	{"title": "Расчет<span class='mobile-hide'> доставки</span>"},
	{"title": "Заказ<span class='mobile-hide'> доставки</span>", "disabled": true},
	{"title": "Оплата", "disabled": true}
]%}

{% set city = [
	{"value": "29", "title": "Архангельск"},
	{"value": "66", "title": "Екатеринбург"},
	{"value": "77", "title": "Москва"},
	{"value": "89", "title": "Салехард"},
	{"value": "11", "title": "Сыктывкар"},
	{"value": "86", "title": "Ханты-Мансий"}
]%}

{% block title %}{{ title }}{% endblock %}

{% block pageClass %}page_calc{% endblock %}

{% block panel %}
	<form class="panel panel__form" action="#" method="get">
		{% include 'breadcrumbs.html' %}
		<h1 class="panel__title panel__title_left">{{ title }}</h1>
		<div class="panel__description">Заполните необходимые данные для расчета</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Ссылка на объявление</label>
			<div class="panel__fix">
				<div class="panel__wrapper">
					<input type="text" name="link" placeholder="Ссылка на объявление" />
				</div>
			</div>
		</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Название товара</label>
			<div class="panel__fix">
				<div class="panel__wrapper">
					<input type="text" name="product" value="Телевизор Sony" placeholder="Название товара" />
				</div>
			</div>
		</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Стоимость</label>
			<div class="panel__fix">
				<div class="panel__wrapper panel__wrapper_160">
					<input type="text" name="price" value="5 000" placeholder="Стоимость товара, руб." />
				</div>
				<div class="panel__desc mobile-hide">руб.</div>
			</div>
		</div>
		<div class="desktop-hide panel__group">Доставка</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Город продавца</label>
			<div class="panel__fix">
				<div class="panel__wrapper select-wrapper">
					<select class="panel__select select" name="seller">
						{% for item in city %}
							<option value="{{ item.value }}">{{ item.title }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Ваш город</label>
			<div class="panel__fix">
				<div class="panel__wrapper select-wrapper">
					<select class="panel__select select" name="yourcity">
						{% for item in city %}
							<option value="{{ item.value }}">{{ item.title }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<div class="desktop-hide panel__group">Товар</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Вес товара</label>
			<div class="panel__fix">
				<div class="panel__wrapper panel__wrapper_160">
					<input type="text" name="weight" placeholder="Вес товара, кг" />
				</div>
				<div class="panel__desc mobile-hide">кг.</div>
			</div>
		</div>
		<div class="panel__row clearfix">
			<label class="panel__label">Габариты</label>
			<div class="panel__fix">
				<div class="panel__wrapper panel__wrapper_130">
					<input type="text" name="length" placeholder="Длина" />
				</div>
				<div class="panel__desc mobile-hide">x</div>
				<div class="panel__wrapper panel__wrapper_130">
					<input type="text" name="width" placeholder="Ширина" />
				</div>
				<div class="panel__desc mobile-hide">x</div>
				<div class="panel__wrapper panel__wrapper_130">
					<input type="text" name="height" placeholder="Высота" />
				</div>
				<div class="panel__desc mobile-hide">см.</div>
			</div>
		</div>
		<div class="panel__controls clearfix mobile-hide">
			<div class="panel__label">
				<a href="/" class="panel__link">На главную</a>
			</div>
			<div class="panel__fix">
				<input type="submit" name="submit" class="btn" value="Рассчитать" />
			</div>
		</div>
		<div class="desktop-hide panel__controls-mobile">
			<div class="panel__fix">
				<input type="submit" name="submit" class="btn" value="Рассчитать доставку" />
			</div>
			<a href="/" class="panel__link-mobile">Вернуться на главную</a>
		</div>
	</form>
{% endblock %}

{% block script %}
	<script src="ui/select2/dist/js/select2.min.js"></script>
{% endblock %}