{% extends "base.html" %}

{% set title = "Ваша заявка поступила в работу" %}

{% block title %}{{ title }}{% endblock %}

{% block pageClass %}page_ok{% endblock %}

{% block panel %}
	<div class="panel panel_with_text">
		<h1 class="panel__title">{{ title }}</h1>
		<div class="text">
			<p>Вы заказали доставку. Продавец должен подтвердить свое намерение отправить товар курьером и получить оплату на карту. На указанный номер телефона продавца отправлено SMS со ссылкой для подверждения.</p>

			<p>Вы можете связаться с продавцом, чтобы ускорить процесс.</p>

			<p>После подтверждения продавцом, курьер доставит вам товар в течение 2-х рабочих дней. Если по каким-то причинам продавец не сможет отправить вам товар, стоимость товара и доставки вернется вам на карту в полном объеме.</p>

			<p>Если у вас остались вопросы — напишите нам на <a href="mailto:inbox@dostavito.ru">inbox@dostavito.ru</a></p>
		</div>
	</div>
{% endblock %}