@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-100.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-100.otf')  format('opentype'),
       url('../fonts/MuseoSlab-100.woff') format('woff'),
       url('../fonts/MuseoSlab-100.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-100.svg#MuseoSlab-100') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-100italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-100italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-100italic.woff') format('woff'),
       url('../fonts/MuseoSlab-100italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-100italic.svg#MuseoSlab-100italic') format('svg');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-300.otf')  format('opentype'),
       url('../fonts/MuseoSlab-300.woff') format('woff'),
       url('../fonts/MuseoSlab-300.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-300italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-300italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-300italic.woff') format('woff'),
       url('../fonts/MuseoSlab-300italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-300italic.svg#MuseoSlab-300italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-500.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-500.otf')  format('opentype'),
       url('../fonts/MuseoSlab-500.woff') format('woff'),
       url('../fonts/MuseoSlab-500.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-500.svg#MuseoSlab-500') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-500italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-500italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-500italic.woff') format('woff'),
       url('../fonts/MuseoSlab-500italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-500italic.svg#MuseoSlab-500italic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-700.otf')  format('opentype'),
       url('../fonts/MuseoSlab-700.woff') format('woff'),
       url('../fonts/MuseoSlab-700.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-700.svg#MuseoSlab-700') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-700italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-700italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-700italic.woff') format('woff'),
       url('../fonts/MuseoSlab-700italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-700italic.svg#MuseoSlab-700italic') format('svg');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-900.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-900.otf')  format('opentype'),
       url('../fonts/MuseoSlab-900.woff') format('woff'),
       url('../fonts/MuseoSlab-900.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-900.svg#MuseoSlab-900') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-900italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-900italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-900italic.woff') format('woff'),
       url('../fonts/MuseoSlab-900italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-900italic.svg#MuseoSlab-900italic') format('svg');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-1000.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-1000.otf')  format('opentype'),
       url('../fonts/MuseoSlab-1000.woff') format('woff'),
       url('../fonts/MuseoSlab-1000.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-1000.svg#MuseoSlab-1000') format('svg');
  font-weight: 1000;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('../fonts/MuseoSlab-1000italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MuseoSlab-1000italic.otf')  format('opentype'),
       url('../fonts/MuseoSlab-1000italic.woff') format('woff'),
       url('../fonts/MuseoSlab-1000italic.ttf')  format('truetype'),
       url('../fonts/MuseoSlab-1000italic.svg#MuseoSlab-1000italic') format('svg');
  font-weight: 1000;
  font-style: italic;
}