@import "var";

input[type="text"],
textarea,
.inp{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid lighten(@c-black, 85%);
	border-radius: 5px;
	box-shadow: inset 0 2px 4px fade(@c-black, 30%);
	font-weight: 300;
	padding: 20px 25px 14px;

	.page_ktb &{
		font-weight: 400;
	}

	&:not(.input):focus{
		box-shadow: 0 0 0 2px @c-focus;
		border-color: @c-focus;
	}
}

.inp_type_city{
	&[type="text"]{
		padding-right: 35px !important;
	}

	&_open{
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}	

.select-wrapper{
	position: relative;

	&:before{
		content: "";
		position: absolute;
		left: 100%;
		top: 50%;
		width: 8px;
		height: 8px;
		border-left: 3px solid @c-link;
		border-bottom: 3px solid @c-link;
		transform: translate(-250%, -75%) rotate(-45deg);

		.page_ktb &{
			border-color: #777;
		}
	}
}
	
.ui-autocomplete{
    border-radius: 0 0 5px 5px;
    background: @c-white;
    border: 1px solid lighten(@c-black, 85%);
    border-top: none !important;
}

.ui-menu-item{

	.ui-menu-item-wrapper{
		line-height: 30px;

		&:hover{
			background: lighten(@c-border, 16%) !important;
			color: @c-white !important;
		}
	}

	&:last-child{
		.ui-menu-item-wrapper{
			border-radius: 0 0 5px 5px;
		}
	}
}

textarea{
	resize: none;
	padding: 12px 12px 8px;
	height: 115px;
}

.btn{
	box-sizing: border-box;
	padding: 20px 40px 16px;
	font: 22px/30px 'MuseoSans', Arial, sans-serif;
	background: linear-gradient(@c-yellow, @c-yellow-dark);
	color: @c-button-text !important;
	font-weight: 500;
	border-radius: 5px;
	border: none;
	cursor: pointer;

	.page_ktb &{
		padding: 15px 40px;
		font: 18px/30px 'Open Sans', Arial, sans-serif;
		color: @c-white !important;
		background: @ktb-btn !important;
		border-radius: 0;
		font-weight: 600;
		-webkit-appearance: none;
        -webkit-border-radius: 0;

		&:hover{
			background: lighten(@ktb-btn, 5%) !important;
		}

		&:active{
			background: darken(@ktb-btn, 5%) !important;
			box-shadow: none;
		}
	}

	&:hover{
		background: linear-gradient(@c-yellow-hover, @c-yellow-hover-dark);
	}

	&:active{
		box-shadow: @c-button-shadow;
		background: linear-gradient(@c-yellow-click, @c-yellow-click-dark);
	}

	a&{
		text-decoration: none !important;
		display: inline-block;
	}

	&_success{
		background: linear-gradient(@c-green, @c-green-dark);
		color: @c-white !important;

		&:hover{
			background: linear-gradient(@c-green-hover, @c-green-hover-dark);
		}

		&:active{
			background: linear-gradient(@c-green-click, @c-green-click-dark);
		}
	}

	&_refuse{
		background: linear-gradient(@c-red, @c-red-dark);
		color: @c-white !important;

		&:hover{
			background: linear-gradient(@c-red-hover, @c-red-hover-dark);
		}

		&:active{
			background: linear-gradient(@c-red-click, @c-red-click-dark);
		}

		.page_ktb &{
			background: @ktb-btn-refuse;

			&:hover{
				background: lighten(@ktb-btn-refuse, 5%);
			}

			&:active{
				background: darken(@ktb-btn-refuse, 5%);
			}
		}
	}
}

.select2{
	font-weight: 500;

	.page_ktb &{
		font-weight: 600;
	}

	.select-wrapper &{
		font-weight: 300;
		width: 100% !important;

		.page_ktb &{
			font-weight: 400;
		}
	}

	&-container{
		.select2-selection{
			background: none;
			border: none;
			height: auto;
			border-radius: 5px !important;

			.select-wrapper &{
				background: @c-white;
				box-sizing: border-box;
				border: 1px solid lighten(@c-black, 85%);
				border-radius: 5px;
				box-shadow: inset 0 2px 4px fade(@c-black, 30%);
				padding: 12px 10px 8px;
				font: 22px/30px 'MuseoSans', Arial, sans-serif;

				.page_ktb &{
					font: 18px/30px 'Open Sans', Arial, sans-serif;
        			color: @ktb-text;
        			padding: 10px;
        			border-color: @ktb-border;
        			box-shadow: none;
				}
			}

			.select2-selection__rendered{
				color: @c-link;
				padding-left: 0;
				padding-right: 25px;
				line-height: inherit;

				.select-wrapper &{
					color: @c-text;

					.page_ktb &{
						color: @ktb-text;
					}
				}
			}

			.select2-selection__arrow{
				b{display: none;}

				height: 25px;
				top: 0;
				right: 0;

				&:before{
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					width: 8px;
					height: 8px;
					border-left: 3px solid @c-link;
					border-bottom: 3px solid @c-link;
					transform: translate(-50%, -75%) rotate(-45deg);

					.page_ktb &{
						border-color: #777;
					}
				}

				.select-wrapper &{
					top: 12px;
					right: 10px;
				}
			}
		}

		.select2-dropdown{
			width: auto !important;
			border: 1px solid lighten(@c-border, 16%) !important;
			border-radius: 4px !important;

			.page_ktb &{
				border-color: @ktb-border !important;
			}

			&:before,
			&:after{
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				position: absolute;
				left: 50%;
				margin-left: -10px;
			}

			&--below{
				margin-top: 15px;

				&:before,
				&:after{
					top: -10px;
				}

				&:before{
					border-bottom: 10px solid lighten(@c-border, 16%);

					.page_ktb &{
						border-bottom-color: @ktb-border;
					}
				}

				&:after{
					border-bottom: 10px solid @c-grey;
					margin-top: 2px;
				}
			}

			&--above{
				top: -10px;

				&:before,
				&:after{
					bottom: -10px;
				}

				&:before{
					border-top: 10px solid lighten(@c-border, 16%);
				}

				&:after{
					border-top: 10px solid @c-white;
					margin-bottom: 2px;
				}
			}
		}

		.select2-search{
			background: @c-grey;
			padding: 12px 10px;
			border-radius: 3px 3px 0 0;

			input.select2-search__field{
				font-size: @s-normal;
				line-height: 20px;
				min-width: 155px;
				border: 1px solid lighten(@c-black, 85%);
				border-radius: 5px;
				box-shadow: inset 0 2px 4px fade(@c-black, 30%);
				padding: 6px 12px 2px;
				font-weight: 300;

				.page_ktb &{
					padding: 4px 12px;
					box-shadow: none;
					border-color: @ktb-border;
					font-weight: 400;
				}
			}
		}

		.select2-results{
			padding-bottom: 2px;
		}

		.select2-results__option{
			color: @c-link;
			padding: 5px 10px;

			.page_ktb &{
				color: @ktb-link;
			}

			&--highlighted[aria-selected]{
				color: @c-link-hover;
				background: none;

				.page_ktb &{
					color: lighten(@ktb-link, 10%);
				}
			}

			&[aria-selected=true]{
				background-color: lighten(@c-border, 16%) !important;
				color: @c-white !important;
			}
		}
	}
}

.checkbox{
	display: inline-block;

	&__input{
		display: none;

		&:checked + .checkbox__label{
			&:after{
				width: 8px;
				height: 5px;
				border-left: 2px solid @c-link;
				border-bottom: 2px solid @c-link;
				left: 6px;
				top: 5px;
				transform: rotate(-45deg);

				.page_ktb &{
					border-left-color: @ktb-text;
					border-bottom-color: @ktb-text;
				}
			}

			&:hover:after,
			&:active:after{
				border-color: @c-link-hover;

				.page_ktb &{
					border-color: fade(@ktb-text, 50%);
				}
			}
		}
	}

	&__label{
		padding-left: 30px;
		position: relative;
		display: block;
		cursor: pointer;

		&:before,
		&:after{
			content: "";
			position: absolute;
			width: 21px;
			height: 21px;
		}

		&:before{
			top: -2px;
			left: 0;
			border-radius: 3px;
			background: @c-white;
			border: 1px solid @c-grey;
			box-shadow: inset 0 1px 2px fade(@c-black, 30%);

			.page_ktb &{
				box-shadow: none !important;
				border-color: @ktb-border !important;
				background: @c-white !important;
			}
		}

		&:hover:before{
			border-color: fade(@c-border, 20%);
			box-shadow: inset 0 1px 2px fade(@c-border, 30%);
		}

		&:active:before{
			border-color: fade(@c-border, 20%);
			background: #f6f9fa;
			box-shadow: inset 0 5px 5px fade(@c-border, 30%);
		}
		
	}
}