@import "var";

.list{
	width: 940px;
	margin: 50px auto 0;

	&__list{
		text-align: center;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		padding: 8px 65px 8px 90px;
		text-align: left;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 74px;
			height: 60px;
			transform: translateY(-50%);
			background: url(../images/list.png) no-repeat;
		}

		&:after{
			content: "";
			position: absolute;
			right: 15px;
			top: 50%;
			width: 30px;
			height: 16px;
			transform: translateY(-50%);
			background: url(../images/arrow.png) no-repeat;
		}

		&:last-child{
			padding-right: 0;

			&:after{
				display: none;
			}
		}

		&_type{
			&_calculate{
				padding-left: 70px;

				&:before{
					background-position: left 0;
				}
			}

			&_pay:before{
				background-position: left -59px;
			}

			&_courier{
				padding-left: 85px;
				
				&:before{
					background-position: left -119px;
				}
			}
		}
	}
}