@import "var";

.panel{
	width: 940px;
	margin: 0 auto;
	min-height: 260px;
	background: linear-gradient(@gr-top-panel, @gr-bottom-panel);
	padding: 35px 65px 45px;
	box-sizing: border-box;
	position: relative;

	.page_ktb &{
		background: @ktb-panel;

		&:before{
			display: none;
		}

		.panel__controls{
			background: @ktb-panel-bottom;
		}

		.panel__description{
			font-size: 16px;
			color: fade(@ktb-text, 75%);
			margin-top: 15px;
		}

		.panel__wrapper{
			input[type="text"]{
				padding: 10px;
				color: @ktb-text;
				box-shadow: none;
				border-color: @ktb-border;
			}
		}

		.panel__label,
		.panel__desc{
			font-size: 18px;
		}
	}

	&:before{
		content: "";
		position: absolute;
		right: 100%;
		top: 75px;
		background: url(../images/hand.png) no-repeat;
		width: 476px;
		height: 240px;
		margin-right: -66px;
	}

	&_with_text{
		padding-left: 95px;
		padding-right: 95px;
	}

	&__title{
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
		line-height: 1;

		&_left{
			text-align: left;
			margin-bottom: 0;
		}
	}

	&__description{
		margin-bottom: 35px;
		margin-top: 3px;

		&_warning{
			color: @c-warning;
			font-weight: 500;

			.page_ktb &{
				font-weight: 600;
			}
		}

		&_error{
			color: @c-error;
			font-weight: 500;

			.page_ktb &{
				font-weight: 600;
			}
		}
	}

	&__right{
		float: right;
		margin-left: 15px;
	}

	&__label{
		float: left;
		width: 230px;
		margin-right: 15px;
		font-size: @s-middle;
		padding-top: 15px;
	}

	&__row{
		padding-bottom: 20px;

		&_total{
			border-top: 1px solid fade(@c-border, 20%);
			margin: 20px 0;
			padding-top: 20px;
		}
	}

	&__fix{
		overflow: hidden;
	}

	&__line{
		margin-bottom: 15px;
	}

	&__city{
		line-height: 25px;
	}

	&__wrapper{
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 2px;
		box-sizing: border-box;

		input[type="text"]{
			padding: 12px 12px 8px;

			.panel__wrapper_warning&{
				box-shadow: 0 0 0 2px @c-warning;
				border-color: @c-warning;
			}

			.panel__wrapper_error&{
				box-shadow: 0 0 0 2px @c-error;
				border-color: @c-error;
			}

			.panel__wrapper_success&{
				box-shadow: 0 0 0 2px @c-success;
				border-color: @c-success;
			}
		}

		&_110{
			width: 110px;
		}

		&_115{
			width: 115px;
		}

		&_130{
			width: 130px;
		}

		&_160{
			width: 160px;
		}

		&_300{
			width: 300px;
		}

		&_455{
			width: 455px;
		}
	}

	&__desc{
		display: inline-block;
		vertical-align: top;
		font-size: @s-middle;
		padding: 15px 15px 0;

		&_bottom{
			display: block;
			padding: 5px 0 0;
			font-size: @s-normal;
		}

		&_error{
			color: @c-error;
		}

		&_warning{
			color: @c-warning;
		}

		&_success{
			color: @c-success;
		}
	}

	&__error{
		display: none;
		padding: 5px 0 0;
		font-size: @s-normal;
		line-height: 1.2em;
		font-weight: 500;

		.page_ktb &{
			font-weight: 600;
		}

		.panel__wrapper_warning &{
			color: @c-warning;
			display: block;
		}

		.panel__wrapper_error &{
			color: @c-error;
			display: block;
		}

		.panel__wrapper_success &{
			color: @c-success;
			display: block;
		}
	}

	&__controls{
		background: @c-panel-bottom;
		margin: 25px -65px -45px;
		padding: 25px 65px;

		.panel_with_text &{
			margin: 25px -95px -45px;
			padding: 25px 95px;
		}

		&-item{
			display: inline-block;
			vertical-align: top;
			margin-right: 30px;
		}

		&-desc{
			font-size: 15px;
			line-height: 18px;
			margin-top: 10px;
			max-width: 315px;

			.page_ktb &{
				max-width: 285px;
			}
		}
	}

	&__link{
		position: relative;
		padding: 13px 0 0 40px;
		display: inline-block;
		line-height: 1;

		.page_ktb &{
			font-size: 16px;
			padding-left: 30px;
			padding-top: 0;
		}

		&:before{
			content: "";
			width: 24px;
			height: 14px;
			position: absolute;
			left: 0;
			top: 13px;
			background: url(../images/panel-arrow.png) no-repeat top center;

			.page_ktb &{
				top: 2px;
				height: 12px;
				background: url(../images/panel-arrow-ktb.png) no-repeat top center;
			}
		}

		&_multi{
			padding-top: 0;

			&:before{
				top: 2px;
			}
		}

		&:hover:before{
			background-position: bottom center;
		}

		&-mobile{
			font-size: 20px;
			display: block;
			text-align: center;
			margin-top: 10px;
			padding: 10px;
		}
	}

	&__price{
		display: inline-block;
		white-space: nowrap;
		font-size: @s-big;
		font-weight: 500;

		.page_ktb &{
			font-weight: 600;
		}

		&:after{
			content: " ₽";
			font-family: Arial;
		}

		&-desc{
			font-size: @s-middle;
		}
	}

	&__info{
		padding: 20px 0 30px 25px;
		position: relative;

		&:before{
			content: "";
			position: absolute;
			top: 20px;
			left: 0;
			width: 53px;
			height: 58px;
			background: url(../images/calc-info.png) no-repeat right bottom;
		}

		&-cell{
			width: 50%;
			padding-left: 50px;
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
		}

		&-title{
			font-size: @s-middle;
			font-weight: 500;
			margin-bottom: 15px;

			.page_ktb &{
				font-weight: 600;
			}
		}

		&-list{
			display: table;
			width: 100%;
		}

		&-item{
			display: table-row;
		}

		&-name{
			font-weight: 100;
			padding:0 20px 10px 0;
			display: table-cell;
		}

		&-value{
			display: table-cell;
			padding-bottom: 10px;

			.page_ktb &{
				font-weight: 600;
			}
		}
	}

	&__inner{
		padding: 40px 0 30px;
	}

	&__group{
		text-transform: uppercase;
		padding: 15px 3px 5px;
		font-size: 12px;
		font-weight: 500;
		letter-spacing: 3px;

		.page_ktb &{
			font-weight: 600;
		}
	}

	&__information{
		border-top: 1px solid @c-border;
		padding-top: 25px;
		margin-top: 10px;

		p{
			margin-bottom: 0;
		}
	}
}