@c-link: #3990d2;
@c-link-hover: #32b5f9;
@c-white: #ffffff;
@c-black: #000000;
@c-text: @c-black;
@c-border: #7fa2bd;
@c-grey: #e9ecef;
@c-panel-bottom: #d3d7df;
@c-seller: #b4c8d7;
@c-work-border: #a4bbcd;
@c-blue-panel: #f1f9fa;

@gr-light-grey: #eef4f5;
@gr-dark-grey: #eaeaea;
@gr-top-panel: @c-white;
@gr-bottom-panel: #f4f4f4;

@gr-top-work: #e6eff4;
@gr-bottom-work: #cfdce6;

@c-button-text: #4f0401;
@c-button-shadow: inset 0 3px 6px fade(#623f0b, 40%);

@c-yellow: #ffd409;
@c-yellow-dark: #ff8401;
@c-yellow-hover: #ffeb09;
@c-yellow-hover-dark: #ffac05;
@c-yellow-click: #ffbc09;
@c-yellow-click-dark: #f66b05;

@c-green: #36b833;
@c-green-dark: #388d3e;
@c-green-hover: #25d521;
@c-green-hover-dark: #37a638;
@c-green-click: #37ad36;
@c-green-click-dark: #308135;

@c-red: #cc0d0d;
@c-red-dark: #a70d0d;
@c-red-hover: #eb2424;
@c-red-hover-dark: #c31c1c;
@c-red-click: #bc0d0d;
@c-red-click-dark: #900a0a;

@s-small: 12px;
@s-normal: 17px;
@s-middle: 22px;
@s-big: 43px;

@c-focus: #368ed1;
@c-warning: #ec9601;
@c-error: @c-red;
@c-success: @c-green;

@c-point: #c1d4e2;
@c-faq-mobile: #e6f4f6;

@ktb-link: #448380;
@ktb-panel: #f0f0f0;
@ktb-panel-bottom: #dcdcdc;
@ktb-text: #464646;
@ktb-border: #bfbfbf;
@ktb-btn: #74b6b2;
@ktb-btn-refuse: #ffc559;
@ktb-info: #fffaeb;
@ktb-burger: #75777d;
@ktb-bg-light: #ebf4f9;
@ktb-bg-dark: #73b6b2;